/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
*/

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

@media(max-width:800px){
    html{
        min-height: 100%;
    }
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    min-height: 100%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/vselennaya-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:800px){
    body{
        background-size: auto;
    }
}

.card{
    display:flex;
  color: white;
    background-color: black;
    width: 700px;
    padding: 25px;
}

@media(max-width:800px){
    .card{
        flex-direction: column;
    }
}

.card-photo{
    width: 300px;
    flex-shrink: 0;
    /*  background-color: red;  */
    margin-right: 20px;
}

@media(max-width:800px){
    .card-photo{
        margin-right: 0;
        width: auto;
        max-width: 450px;
        margin-bottom: 35px;
    }
}

.card-photo-img{
    max-width: 100%;
    height: auto;
}

.card-text{
    /* background-color: gray;  */
}

.badge{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px;
    font-weight: 500;
}

.title{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 38px;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: #BDBDBD;
    font-size: 24px;
}

.card-text p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.buttons-wrapper{
    margin-top: 25px;
}

.btn{
    display: inline-block;
    background-color: gray;
    padding: 3px 8px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.btn-vk{
    background-color: #45668e;
}

.btn-insta{
    background-color: #c13584;    
}